.icon-16-asterisk,.icon-16-user,.icon-16-sound-off,.icon-16-facetime-video,.icon-16-warning-sign,.icon-16-earth,.icon-16-mail,.icon-16-pencil,.icon-16-star,.icon-16-star-empty,.icon-16-plus,.icon-16-minus,.icon-16-crop,.icon-16-male,.icon-16-female,.icon-16-pencil2,.icon-16-reply,.icon-16-forward,.icon-16-user2,.icon-16-user-add,.icon-16-vcard,.icon-16-location,.icon-16-map,.icon-16-share,.icon-16-chat,.icon-16-comment,.icon-16-house,.icon-16-search,.icon-16-cog,.icon-16-camera,.icon-16-eye,.icon-16-clock,.icon-16-calendar,.icon-16-lock,.icon-16-logout,.icon-16-login,.icon-16-checkmark,.icon-16-cross,.icon-16-blocked,.icon-16-info,.icon-16-help,.icon-16-warning,.icon-16-add-to-list,.icon-16-list,.icon-16-text,.icon-16-pictures,.icon-16-trash,.icon-16-disk,.icon-16-arrow-left,.icon-16-arrow-down,.icon-16-arrow-up,.icon-16-arrow-right,.icon-16-dot,.icon-16-twitter,.icon-16-facebook,.icon-16-pinterest,.icon-16-google-plus,.icon-16-fullscreen-exit {
	display: inline-block;
	margin-right: .15em;
	width: 16px;
	height: 16px;
	background-image: url(../images/16px-sprites.png);
	background-image: url(../images/16px-sprites.svg);
	background-repeat: no-repeat;
}
.icon-16-asterisk {
	background-position: 0 0;
}
.icon-16-user {
	background-position: -32px 0;
}
.icon-16-sound-off {
	background-position: -64px 0;
}
.icon-16-facetime-video {
	background-position: -96px 0;
	width: 17px;
}
.icon-16-warning-sign {
	background-position: -128px 0;
}
.icon-16-earth {
	background-position: -160px 0;
}
.icon-16-mail {
	background-position: -192px 0;
}
.icon-16-pencil {
	background-position: -224px 0;
}
.icon-16-star {
	background-position: -256px 0;
}
.icon-16-star-empty {
	background-position: -288px 0;
}
.icon-16-plus {
	background-position: -320px 0;
}
.icon-16-minus {
	background-position: -352px 0;
}
.icon-16-crop {
	background-position: -384px 0;
}
.icon-16-male {
	background-position: -416px 0;
}
.icon-16-female {
	background-position: -448px 0;
}
.icon-16-pencil2 {
	background-position: -480px 0;
}
.icon-16-reply {
	background-position: 0 -32px;
}
.icon-16-forward {
	background-position: -32px -32px;
}
.icon-16-user2 {
	background-position: -64px -32px;
}
.icon-16-user-add {
	background-position: -96px -32px;
}
.icon-16-vcard {
	background-position: -128px -32px;
}
.icon-16-location {
	background-position: -160px -32px;
}
.icon-16-map {
	background-position: -192px -32px;
}
.icon-16-share {
	background-position: -224px -32px;
}
.icon-16-chat {
	background-position: -256px -32px;
}
.icon-16-comment {
	background-position: -288px -32px;
}
.icon-16-house {
	background-position: -320px -32px;
}
.icon-16-search {
	background-position: -352px -32px;
}
.icon-16-cog {
	background-position: -384px -32px;
}
.icon-16-camera {
	background-position: -416px -32px;
}
.icon-16-eye {
	background-position: -448px -32px;
}
.icon-16-clock {
	background-position: -480px -32px;
}
.icon-16-calendar {
	background-position: 0 -64px;
}
.icon-16-lock {
	background-position: -32px -64px;
}
.icon-16-logout {
	background-position: -64px -64px;
}
.icon-16-login {
	background-position: -96px -64px;
}
.icon-16-checkmark {
	background-position: -128px -64px;
}
.icon-16-cross {
	background-position: -160px -64px;
}
.icon-16-blocked {
	background-position: -192px -64px;
}
.icon-16-info {
	background-position: -224px -64px;
}
.icon-16-help {
	background-position: -256px -64px;
}
.icon-16-warning {
	background-position: -288px -64px;
}
.icon-16-add-to-list {
	background-position: -320px -64px;
}
.icon-16-list {
	background-position: -352px -64px;
}
.icon-16-text {
	background-position: -384px -64px;
}
.icon-16-pictures {
	background-position: -416px -64px;
}
.icon-16-trash {
	background-position: -448px -64px;
}
.icon-16-disk {
	background-position: -480px -64px;
}
.icon-16-arrow-left {
	background-position: 0 -96px;
}
.icon-16-arrow-down {
	background-position: -32px -96px;
}
.icon-16-arrow-up {
	background-position: -64px -96px;
}
.icon-16-arrow-right {
	background-position: -96px -96px;
}
.icon-16-dot {
	background-position: -128px -96px;
}
.icon-16-twitter {
	background-position: -160px -96px;
}
.icon-16-facebook {
	background-position: -192px -96px;
}
.icon-16-pinterest {
	background-position: -224px -96px;
}
.icon-16-google-plus {
	background-position: -256px -96px;
}
.icon-16-fullscreen-exit {
	background-position: -288px -96px;
}
