.all-search-community-list{
	width:100% !important;
	margin-left:0 !important;
	margin-right:0 !important;
	padding:0 !important;
}
.no-margin{
	margin:0 !important;
}
.all-search-list{
	width: 62.5%;
	float: right;
	padding:.5em;
	@media only screen and (max-width : 720px) {
		width: 100%;
		font-size: .9em;
	}
	.search-box{
		display: inline-block;
		float: right;
		margin: .85em 0 .4em 0;
		@media only screen and (max-width : 520px) {
			display: block;
			float: none;
		}
		input[type=text]{
			border: 1px solid #ddd;
			&:hover{
				border: 1px solid #c6c6c6;
				   -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
				-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
						box-shadow: 0 1px 1px rgba(0,0,0,.1);
				-webkit-transition-duration: 0.2s;
			       -moz-transition-duration: 0.2s;
			    		transition-duration: 0.2s;
			}
			border-radius: 4px;
			padding: .4em;
			@media only screen and (max-width : 520px) {
				width: 77%;
			}
		}
		input[type=submit]{
			border-radius: 4px;
			@media only screen and (max-width : 520px) {
				width: 20%;
				float: right;
			}
		}
	}
	.search-field{
		@media only screen and (max-width : 240px) {

			}
	}
	
}