$nav-gradient-1: #99C43D;
$nav-gradient-2: #BAD533;

.communities-list{
	width: 62.5%;
	float: right;
	padding: .5em;
	@media only screen and (max-width : 720px) {
		width: 100%;
		font-size: .9em;


	}
	.community-box{
		background: #fff;
		border: 1px solid #dadada;
		margin: 0 0 1em 0;
		.community-box-wrapper{
			border-bottom: 1px solid #dadada;
			padding: 1em;
			&:hover{
				background:#f8f8f8;
			}
		}
	    .community-image{
	    	display: inline-block;
	    	width:100px;
	    	float: left;	    	
	    	@media only screen and (max-width : 260px){
				float: none;
				display: block;
				margin: 0 auto;
			}
	    }
	    .community-text{
	    	display: table;
	    	@media only screen and (max-width : 260px){
				width:100%;
			}
	    	

	    }
	    .community-name{
 	    	padding: 0 0 .2em 0;
	    	vertical-align: text-bottom; 
 	    }
		.details{
			font-size:.8em;
			text-align:justify;
			text-justify:inter-word;
			}

		.members{
			color: #ccc;
			margin-right:.5em;
			font-size:.7em;
		}
	 }
	.community-search-box{
		padding: 1em;
		
	}
	.community-search-field{
		@media only screen and (max-width : 240px) {

			}
	}
	.community-buttons{
				@media only screen and (max-width : 380px) {
					width:100%;
					display:block;
			}
	}
	
}