$nav-gradient-1: #99C43D;
$nav-gradient-2: #BAD533;

.all-friends-list{
	width: 62.5%;
	float: right;
	padding: 0 0 0 .2em;padding: .5em;
	@media only screen and (max-width : 720px) {
		width: 100%;
		font-size: .9em;
	}
	.friends-box{
		background: #fff;
		border: 1px solid #dadada;
		margin: 0 0 1em 0;
		.friend-box-wrapper{
			border: 1px solid #ebebeb;
			padding: 0.2em;
			width:48%;
			float:left;
			margin: 0.2em;
			&:hover {
			background-color: #f8f8f8;
		}
				@media only screen and (max-width : 720px) {
					width:100%;
				}
		}
	    .friend-image{
	    	display: inline-block;
	    	width:20%;
	    	min-width:50px;
	    	max-width:60px;
	    	@media only screen and (max-width : 320px){
			
			}
	    }
	    .friend-text{
	    	display: inline-block;
	    
	    	@media only screen and (max-width : 768px){
				
			}
	    	@media only screen and (max-width : 380px){
				
			}
	    	

	    }
	    .friend-name{
 	    	padding: 0 0 .3em 0;
	    	vertical-align: text-bottom;
 	    }
		.details{
			padding: .3em 0 .3em 0;
			font-size:.7em;
			text-align:justify;
			text-justify:inter-word;
			}

		a{
			color: $nav-gradient-1;
			&:hover{
			color: #000;
			}
		}
		h3{
			font-weight: normal;
			font-size:1em;
			padding: 0 0 .3em 0;
			
			display:inline-block;
	        }
	 }
	.friend-search-box{
		padding: 1em;
		
	}
	.friend-search-field{
		@media only screen and (max-width : 240px) {

			}
	}
	.friend-search-button{
		display: block; 
		float: right;
		font-size: .8em;
		padding: .4em;
		margin: 0 0 .2em .2em;
		background-color: #f8f8f8;
		border: 1px solid #AAA;

		&:hover {
			background-color: $nav-gradient-2;
			cursor: pointer;
		}
	}
	.friend-invite-button{
		display: block; 
		float: right;
		font-size: .8em;
		padding: .4em;
		margin: 0 0 .2em .2em;
		background-color: $nav-gradient-1;
		border: 1px solid #AAA;

		&:hover {
			background-color: $nav-gradient-2;
			cursor: pointer;
		}
	}
}