$nav-gradient-1: #cbe3ba;
$nav-gradient-2: #a6cc8b;
.communities-list{
	width: 62.5%;
	float: right;
	padding: 0 0 0 .2em;padding: .5em;
	@media only screen and (max-width : 720px) {
		width: 100%;
		font-size: .9em;


	}
	.community-box{
	margin: 0 0 .5em 0;
	padding: .5em;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0 0 1px 0 #BDBDBD;
	box-shadow: 0 0 2px 0 #BDBDBD;
	
	.community-box-wrapper{

		@media only screen and (max-width : 320px){
			
		}
	}

	    .community-image{
	    	display: inline-block;
	    	width:20%;
	    	min-width:100px;
	    	@media only screen and (max-width : 320px){
			
			}
	    }
	    .community-text{
	    	display: inline-block;
	    	width:75%;
	    	@media only screen and (max-width : 768px){
				width:70%;
			}
	    	@media only screen and (max-width : 380px){
				width:100%;
			}
	    	

	    }
	    .community-name{
	    	padding: 0 0 .3em 0;
	    	vertical-align: text-bottom;
	    	border-bottom: 1px solid #eee;

	    }
		.details{
			padding: .3em 0 .3em 0;
			font-size:.9em;
			text-align:justify;
			text-justify:inter-word;
			min-height:50px;
			}
		.members{
			margin-right:.5em;
			font-size:.7em;
			@media only screen and (max-width : 800px) {
				float:left;
				display: inline-block;
			}
		}
		a{
			color: #777;
			&:hover{
			color: #000;
			}
		}
		h3{
			font-weight: normal;
			font-size:1em;
			padding: 0 0 .3em 0;
			
			display:inline-block;
	        }
	 }
	.community-search-box{
		
	}
	.community-search-field{
		min-width: 75%;
		@media only screen and (max-width : 240px) {

			}
	}
	.community-search-button{
		display: block; 
		float: right;
		font-size: .8em;
		padding: .4em;
		margin: 0 0 .2em .2em;
		background-color: $nav-gradient-1;
		border: 1px solid #AAA;

		&:hover {
			background-color: $nav-gradient-2;
			cursor: pointer;
		}
	}
}