.index-page-wrapper { max-width: 1440px !important; }
.index-page-wrapper .footer { margin: 0 .5em !important; padding: .5em !important; max-width: 1440px !important; }
.index-page-wrapper .footer ul { padding: 0 2em; }
.index-page-wrapper hr { margin: .5em 0; }

.index-intro { color: #fff; margin: 1em 1em 0 1em; padding: 2em; background: url("../images/shutterstock_97614038.jpg"); background-position: 50% 50%; background-size: auto; background-repeat: no-repeat; }
.index-intro h1 { font-size: 2.75em; }
.index-intro h3 { float: right; }
.index-intro span { font-size: 1.375em; }
.index-intro .index-nav img { float: left; margin: 0 .5em .5em 0; }

.index-content { padding: 1em; width: 62.5% !important; float: right !important; }
@media only screen and (max-width: 981px) { .index-content { width: 100% !important; } }

.index-content-divs { color: #444; font-size: 1.1em; padding: 2em; background: #f3f3f3; border: 2px solid #ddd; margin: 0 0 .5em 0; }
.index-content-divs h1 { margin: 1em 0 0 0; }
.index-content-divs .first { margin: 0 !important; }

.index-aside { color: #555; padding: 1em 0 1em 1em; overflow: auto !important; }
@media only screen and (max-width: 981px) { .index-aside { padding: 1em; } }

.index-aside-divs { padding: 2em; margin: 0 0 .5em 0; border: 2px solid #f2f2f2; }
.index-aside-divs h5 { float: right; }
.index-aside-divs .index-search { width: 100%; padding: .8em; border: 2px solid #f2f2f2; background: #fafafa; margin-top: .5em; }
