@import "sprites.scss";
@import "16px-sprites.scss";


$gossout-black: #707373;
$gossout-green-1: #9ac43c;
$gossout-green-2: #9ac43c;
$nav-gradient-1: #cbe3ba;
$nav-gradient-2: #a6cc8b;
$body-gradient-1: #bababa;
$body-gradient-2: #fdfdfd;
$logo-image-svg: "../images/gossout-logo-image-svg.svg";
$logo-image-text-svg: "../images/gossout-logo-text-and-image-svg.svg";
$logo-text-svg: "../images/gossout-logo-text-svg.svg";

* {
	margin        : 0;
	padding       : 0;
	vertical-align: top;
	-webkit-box-sizing                : border-box;
	-moz-box-sizing                   : border-box;
	-ms-box-sizing                    : border-box;
	box-sizing                        : border-box;
}
body {
	background-color: $body-gradient-1;
	background-image: url($logo-image-svg), -webkit-gradient(linear, left top, left bottom, from($body-gradient-1), to($body-gradient-2));
	background-image: url($logo-image-svg), -webkit-linear-gradient(top, $body-gradient-1, $body-gradient-2);
	background-image: url($logo-image-svg),    -moz-linear-gradient(top, $body-gradient-1, $body-gradient-2);
	background-image: url($logo-image-svg),      -o-linear-gradient(top, $body-gradient-1, $body-gradient-2);
	background-image: url($logo-image-svg),         linear-gradient(to bottom, $body-gradient-1, $body-gradient-2);
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-attachment: fixed;
}
a { text-decoration: none; }
ol,ul { list-style: none; }
h1,h2,h3,h4,h5,h6 { margin: .2em 0;}
hr { margin: .3em 0; width: 100%; height: 1px; border-width:0; color: #eee; background-color: #eee;}
img { border: none; padding: .2em; max-width: 100%;}
textarea { resize: none;}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea,
select {
	padding: .3em;

}

.clear { clear: both;}
.float-left { float: left !important;}
.float-right { float: right !important;}
.float-none {float: none !important;}
.no-padding { padding: 0 !important;}
.no-margin { margin: 0 !important;}
.error, .alert, .notice, .success, .info { padding: .6em; margin: .2em 0; border: none; font-size: .8em; }
.error, .alert{ background: #FBE3E4; color: #8A1F11;}
.notice{ background: #FFF6BF;    color: #514721;}
.info{ background: #ddd; color: #264409;}
.success{ background: #E6EFC2; color: #264409;}
.icon-16-gossout {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../images/gossout-logo-image-svg.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.page-wrapper { }

.nav {

	padding: 0 2em; 
	@media only screen and (max-width: 1024px) {
		padding: .2em;
	}
	a{
		color: #222;
	}
	background-color: $nav-gradient-1;
	background-image: -webkit-gradient(linear, left top, left bottom, from($nav-gradient-1), to($nav-gradient-2));
	background-image: -webkit-linear-gradient(top, $nav-gradient-1, $nav-gradient-2);
	background-image:    -moz-linear-gradient(top, $nav-gradient-1, $nav-gradient-2);
	background-image:      -o-linear-gradient(top, $nav-gradient-1, $nav-gradient-2);
	background-image:         linear-gradient(to bottom, $nav-gradient-1, $nav-gradient-2);

	-webkit-box-shadow: 0px 1px 6px 0px #555;
	box-shadow: 0px 1px 6px 0px #555;

	
	ul {
		img { max-height: 40px; float: left;}
		li{	
			-webkit-transition: all 0.5s ease-out;  
			-moz-transition: all 0.5s ease-out;  
			-o-transition: all 0.5s ease-out;  
			transition: all 0.5s ease-out;
			cursor: pointer;
			float: left;
			padding: .5em .7em;
			font-family: 'Segoe UI Light', Segoe UI,sans-serif;
			&:hover {
				background: #fff;
				background: rgba(255, 255, 255, 0.9);
			}
			span{
				padding: 0 .2em;
			}
			input {
				-webkit-border-radius: 5px;
				-o-border-radius: 5px;
				border-radius: 5px;
				padding: .2em;
				border: none;
				font-size: .8em;
				color: #aaa;
				&:hover, &:active, &:focus {
					color: #707373;
					border: none;
				}
			}
		}	
	}
	.nav-login {
		float: right !important;
	}
}
.nav-search-container {
	&:hover {
		background-color: transparent !important;
	}
	@media only screen and (max-width: 720px) {
		display: none !important;
	}
}
.nav-user {
	font-family: 'Segoe UI',sans-serif;
	padding: 0 2em;
	margin: 3px 0;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	@media only screen and (max-width: 1024px) {
		padding: .2em;
	}
	ul {
		li{
			padding: .6em;
			font-size: .75em;
			float: left; 
			a{
				color: #555;
				&:hover{
					color:#000;
				}
			}
			span{
				padding: 0 .3em;
			}
		}
	}
	-webkit-box-shadow: 0px 1px 6px 0px #555;
	box-shadow: 0px 1px 6px 0px #555;
}
.nav-user-profile {
	float: right !important;
}

.content {
	font-family: 'Segoe UI',sans-serif;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 5px 0px #888;
	box-shadow: 0px 1px 5px 0px #888;
	padding: .7em;
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	border: 8px transparent;
	margin: .5em 2em;
	@media only screen and (max-width : 1024px) {
		margin: .5em;
		padding: 0;
		border: none;

	}
}
.posts{
	width: 100%;
	font-size: .9em;
	@media only screen and (min-width : 720px) {
		width: 62.5%;
		float: right;
		padding: 0 0 0 .2em;padding: .5em;
	}
}
.post-box{
	margin: 0 0 .5em 0;
	padding: .5em;
	background: rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0 0 4px 0 #BDBDBD;
	box-shadow: 0 0 4px 0 #BDBDBD;
	.group-1 {
		font-size: .8em;
		float: left;
		display: inline-block;
		overflow: hidden;
		padding: 0 0 0 22px;
		border: 1px solid #eee;
		background:	rgba(255, 255, 255, 0.9) url(../images/location.png) no-repeat left;
		width: 120px;
		margin: 0 .3em 0 0;
		&:hover{
			border: 1px solid #aaa;
		}
		select{
			max-width: 96px;
			border: 0;
			-webkit-appearance: none;
			background: transparent;
		}		
		
	}
	textarea {
		color: #707373;
		height: 2.18em;
		width: 100%;
		margin: 0 0 .4em 0;
		border: 1px solid #ddd;
		&:hover {
			border: 1px solid #aaa;
		} 
	}
	.group-2 {
		display: block; 
		float: right;
		.submit {
			font-size: .8em;
			padding: .4em;
			margin: 0 0 .2em .2em;
			border: 1px solid $nav-gradient-1; 
			background-color: #FFF;
			&:hover {
				background-color: $nav-gradient-1;
				cursor: pointer;
			}
		}
	}
	
}
.post{
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	width: 100%;
	padding: .5em;
	margin: 0 0 .5em 0;
	-webkit-border-radius: 4px; 
	-o-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #eee;
	-webkit-box-shadow: 0 0 4px 0 #BDBDBD;
	box-shadow: 0 0 4px 0 #BDBDBD; 
	&:hover {
		border: 1px solid #bbb;
	}
	img {
		display: block;
		border: 1px solid #ddd;
		max-width: 400px;
		padding: .4em;
		margin: .4em auto;
	}
}
.post-comments {
	display: none;
	background: #fafafa;
	padding: .2em;
	font-size: .9em;
}
.post-comment {
	border: 1px solid #e3e3e3;
	padding: 0 .2em;
	margin: .2em;	
	p {
		padding: 0 0 0 47px;
	}
}
.post-thumb {
	float: left;
	width: 40px;
	margin: .2em !important;
	padding: .15em !important;
}
.post-time {
	font-size: .8em;
	color: $gossout-black;
}
.post-new-comment{
	display: none;
	span {
		margin: .3em 0 0 0;
	}
	.comment-field {		
		color: #707373;
		height: 38px;
		width: 65%;
		margin: .2em !important;
		border: 1px solid #ddd;
		&:hover {
			border: 1px solid #aaa;
		}
	}
	.submit {
		height: 38px;
		padding: .5em;
		margin: .2em !important;
		border: 1px solid $nav-gradient-1; 
		background-color: #FFF;
		&:hover {
			background-color: $nav-gradient-1;
		}
	}
}
.post-meta {
	padding: 0 .4em;
	span {
		cursor: pointer;
		font-size: .8em;
		color: #888;
		&:hover{
			color: #000;
		}
	}
}
.aside {
	font-size: .9em;
	overflow: auto;
	padding: .5em;
	margin: 0 1em .5em 0;
	@media only screen and (max-width : 720px) {
		margin: 0;
	}
	-webkit-border-radius: 4px; 
	-o-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #eee;
	a {
			color: #777;
			&:hover{
				color: #000;
			}			
		} 
}
.aside-wrapper{
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin: 0 0 .3em 0;
	padding: .3em;	
	.profile-pic {
		float: left;
		margin: 0 .2em .2em 0;
		@media only screen and (max-width: 1024px) {
			float: none;
			display: block;
			margin: .2em auto;
		}
		@media only screen and (max-width: 720px) {
			float: left;
			display: inline-block;
			margin: .2em auto;
		}
		@media only screen and (max-width: 440px) {
			float: none;
			display: block;
			margin: .2em auto;
		}
	}
	h3 {
		font-weight: normal;
		padding: 0 0 .3em 0;
	}
	.profile-meta {
		font-size: .8em;

	}
	.profile-meta-functions {
		font-size: .8em;
		padding: .4em;
		margin: 0 0 .2em .2em;
		border: 1px solid $nav-gradient-1; 
		overflow: hidden;
		display: inline-block;
		float: right;
		background-color: #FFF;
		&:hover {
			background-color: $nav-gradient-1;
			cursor: pointer;
		}
	}
	.community-listing {
		font-size: .9em;
		
	}
	.community-functions {
		font-size: .78em;
		padding: .3em;
		margin: .2em;
		overflow: hidden;
		display: inline-block;
		background-color: #FFF;
		float: right;
		&:hover {
			background-color: $nav-gradient-1;
			cursor: pointer;
		}
	}
}
.footer {
	font-family: 'Segoe UI',sans-serif;
	padding: .3em;
	margin: .5em 2em;
	@media only screen and (max-width : 1024px) {
		margin: .5em;
	} 
	li{
		color: #555;
		float: left;
		padding: .2em 1em .2em 0;
		a{
			color: #555;
			&:hover{
				color: #000;
			}
		}
	}
}
