$gossout-black: #707373;
$gossout-green-1: #9ac43c;
$gossout-green-2: #9ac43c;

* {
font-family: Segoe UI,sans-serif;
    margin        : 0;
    padding       : 0;
    vertical-align: top;
    -webkit-box-sizing                : border-box;
    -moz-box-sizing                   : border-box;
    -ms-box-sizing                    : border-box;
    box-sizing                        : border-box;
}
body { background-color: #bbb;}
a { text-decoration: none;}
ol,ul { list-style: none; }
hr { margin: .3em 0; width: 100%; height: 1px; border-width:0; color: #ddd; background-color: #ddd;}
img { border: none; padding: .2em; max-width: 100%;}
textarea { resize: none;}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea,
select {
	padding: .3em;

}

.clear { clear: both;}
.float-left { float: left !important;}
.float-right { float: right !important;}
.no-padding { padding: 0 !important;}
.no-margin { margin: 0 !important;}
.error, .alert, .notice, .success, .info { padding: .6em; margin: .2em 0; border: none; font-size: .8em; }
.error, .alert{ background: #FBE3E4; color: #8A1F11;}
.notice{ background: #FFF6BF;    color: #514721;}
.info{ background: #ddd; color: #264409;}
.success{ background: #E6EFC2; color: #264409;}

.page-wrapper { }

.nav {
	padding: 0 1em;
	background-color: #707373;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#707373), to(#404343));
	background-image: -webkit-linear-gradient(top, #707373, #404343);
	background-image:    -moz-linear-gradient(top, #707373, #404343);
	background-image:      -o-linear-gradient(top, #707373, #404343);
	background-image:         linear-gradient(to bottom, #707373, #404343);

	-webkit-box-shadow: 0px 1px 6px 0px #555;
	box-shadow: 0px 1px 6px 0px #555;

	color: #d4d4d4;
    cursor: pointer;
    ul {
    	img { max-height: 40px; float: left;}
    	li{
	    	float: left;
			padding: .7em;
			font-family: 'Segoe UI Light', Segoe UI,sans-serif;
			&:hover {
				color: white;
			}
			input {
				background: url(../images/search.png) no-repeat 0px 50%;
				padding: 0 0 0 20px;
				border: none;
				font-size: 1em;
				color: #d4d4d4;
				&:hover, &:active, &:focus {
					color: white;
					border: none;
					}
				}
			}	
    	}
	}




.content {
	font-family: 'Segoe UI',sans-serif;
	-webkit-border-radius: 5px;
        	border-radius: 5px;
	margin: .5em;
	padding: .7em;
	background: white;
}
.posts{
	width: 100%;
}
.post{
	width: 100%;
	padding: .5em;
	margin: 0 0 .5em 0;
	-webkit-border-radius: 4px; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
        	border-radius: 4px;
	border: 1px solid #eee;
    -webkit-box-shadow: 1px 1px 1px 1px #ddd;
			box-shadow: 1px 1px 1px 1px #ddd;
    &:hover {
		border: 1px solid #ddd;
    }
	img {
		display: block;
		border: 1px solid #ddd;
		max-height: 300px;
		padding: .3em;
		margin: .3em auto;
	}
}
.post-comments {
	display: none;
	background: #fafafa;
	padding: .2em;
	font-size: .9em;
}
.post-comment {
	border: 1px solid #e3e3e3;
	padding: 0 .2em;
	margin: .2em;	
	p {
		padding: 0 0 0 47px;
	}
}
.post-thumb {
	float: left;
	width: 40px;
	margin: .2em !important;
	padding: .15em !important;
}
.post-time {
	font-size: .8em;
	color: $gossout-black;
}
.post-new-comment{
	display: none;
	span {
		margin: .3em 0 0 0;
	}
}
.post-meta {
	padding: 0 .4em;
	span {
    	cursor: pointer;
		margin: 0 1em 0 0;
		font-size: .8em;
	}
}

.footer {
	margin: .5em;
	padding: .3em;
}


@media only screen and (min-width : 720px) {

.posts{ 
	width: 62.5%;
	}
}