* { font-family: Segoe UI,sans-serif; margin: 0; padding: 0; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

body { background-color: #bababa; background-image: url("../images/gossout-logo-image-svg.svg"), -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#fdfdfd)); background-image: url("../images/gossout-logo-image-svg.svg"), -webkit-linear-gradient(top, #bababa, #fdfdfd); background-image: url("../images/gossout-logo-image-svg.svg"), -moz-linear-gradient(top, #bababa, #fdfdfd); background-image: url("../images/gossout-logo-image-svg.svg"), -o-linear-gradient(top, #bababa, #fdfdfd); background-image: url("../images/gossout-logo-image-svg.svg"), linear-gradient(to bottom, #bababa, #fdfdfd); background-repeat: no-repeat; background-position: 100% 0%; }

a { text-decoration: none; }

ol, ul { list-style: none; }

hr { margin: .3em 0; width: 100%; height: 1px; border-width: 0; color: #ddd; background-color: #ddd; }

img { border: none; padding: .2em; max-width: 100%; }

textarea { resize: none; }

input[type=text], input[type=password], input[type=email], input[type=number], textarea, select { padding: .3em; }

.clear { clear: both; }

.float-left { float: left !important; }

.float-right { float: right !important; }

.float-none { float: none !important; }

.no-padding { padding: 0 !important; }

.no-margin { margin: 0 !important; }

.error, .alert, .notice, .success, .info { padding: .6em; margin: .2em 0; border: none; font-size: .8em; }

.error, .alert { background: #FBE3E4; color: #8A1F11; }

.notice { background: #FFF6BF; color: #514721; }

.info { background: #ddd; color: #264409; }

.success { background: #E6EFC2; color: #264409; }

.nav { padding: 0 2em; background-color: #cbe3ba; background-image: -webkit-gradient(linear, left top, left bottom, from(#cbe3ba), to(#a6cc8b)); background-image: -webkit-linear-gradient(top, #cbe3ba, #a6cc8b); background-image: -moz-linear-gradient(top, #cbe3ba, #a6cc8b); background-image: -o-linear-gradient(top, #cbe3ba, #a6cc8b); background-image: linear-gradient(to bottom, #cbe3ba, #a6cc8b); -webkit-box-shadow: 0px 1px 6px 0px #555; box-shadow: 0px 1px 6px 0px #555; color: #222; }
@media only screen and (max-width: 720px) { .nav { padding: .2em; } }
.nav ul img { max-height: 40px; float: left; }
.nav ul li { cursor: pointer; float: left; padding: .7em; font-family: 'Segoe UI Light', Segoe UI,sans-serif; }
.nav ul li:hover { color: white; }
.nav ul li input { -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding: 0; border: none; font-size: 1em; color: #aaa; }
.nav ul li input:hover, .nav ul li input:active, .nav ul li input:focus { color: #707373; border: none; }
.nav .nav-login { float: right !important; }

@media only screen and (max-width: 720px) { .nav-search-container { display: none !important; } }

.nav-user { padding: 0 2em; margin: 3px 0; background: rgba(255, 255, 255, 0.9); -webkit-box-shadow: 0px 1px 6px 0px #555; box-shadow: 0px 1px 6px 0px #555; }
@media only screen and (max-width: 720px) { .nav-user { padding: .2em; } }
.nav-user ul li { padding: .7em; font-size: .75em; float: left; color: #555; }

.nav-user-profile { float: right !important; }

.content { font-family: 'Segoe UI',sans-serif; -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0px 1px 5px 0px #888; box-shadow: 0px 1px 5px 0px #888; padding: .7em; background: rgba(255, 255, 255, 0.7); border: 8px transparent; margin: .5em 2em; }
@media only screen and (max-width: 720px) { .content { margin: .5em; padding: 0; background: none; border: none; } }

.posts { width: 100%; padding: .2em; }
@media only screen and (min-width: 720px) { .posts { width: 62.5%; float: right; } }

.post { background: rgba(255, 255, 255, 0.7); width: 100%; padding: .5em; margin: 0 0 .5em 0; -webkit-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; border: 1px solid #eee; -webkit-box-shadow: 1px 1px 1px 1px #555; box-shadow: 1px 1px 1px 1px #555; }
.post:hover { border: 1px solid #bbb; }
.post img { display: block; border: 1px solid #ddd; max-height: 300px; padding: .3em; margin: .3em auto; }

.post-comments { display: none; background: #fafafa; padding: .2em; font-size: .9em; }

.post-comment { border: 1px solid #e3e3e3; padding: 0 .2em; margin: .2em; }
.post-comment p { padding: 0 0 0 47px; }

.post-thumb { float: left; width: 40px; margin: .2em !important; padding: .15em !important; }

.post-time { font-size: .8em; color: #707373; }

.post-new-comment { display: none; }
.post-new-comment span { margin: .3em 0 0 0; }

.post-meta { padding: 0 .4em; }
.post-meta span { cursor: pointer; margin: 0 1em 0 0; font-size: .8em; }

.footer { margin: .5em; padding: .3em; margin: .5em 2em; }
@media only screen and (max-width: 720px) { .footer { margin: .5em; } }
.footer li { float: left; padding: .2em 1em .2em 0; }
